{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/au.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1">
  </head>
  <body>
    <div id="main">
	   <div id="header">
        <div id="logo">
          <a href="../" ><b><em>N</em><span>OTES</span></b></a>
        </div>
        <div id="option">
          <ul>
            <a href="../"><li><img class="hicon" src="{% static 'icons/home.png' %}"/><br><p>HOME</p></li></a>
            <a href="notes"><li><img class="hicon" src="{% static 'icons/notes.png' %}"/><br><p>NOTES</p></li></a>
            <a href="papers"><li><img class="hicon" src="{% static 'icons/sp.png' %}"/><br><p>PAPERS</p></li></a>
            <a href=""><li id="ha"><img class="hicon" src="{% static 'icons/about.png' %}"/><br><p>ABOUT US</p></li></a>
            <a href="contact"><li><img class="hicon" src="{% static 'icons/contact.png' %}"/><br><p>CONTACT US</p></li></a>
          </ul>
        </div>
      </div>
      <div id="container">
      <div id="team">
        <div class="member">
          <div class="memberimg m1"></div>
          <b class="mname"> abhijeet patel</b>
          <div class="si siimgdiv5">
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/fb.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/twitter.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/whatsapp.png' %}" /></div></a>
			      <a href=""><div class="siimgdiv"><img src="{% static 'icons/gmail.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/instagram.png' %}" /></div></a>
          </div>
			<div class="aboutm"> The strongest tool of a student is study and to leanrn there are many sources available we created a replica of the knowledge to share information to our upcoming fellows so that they do not need to roam for concerns. </div>
        </div>
        <div class="member">
          <div class="memberimg m2"></div>
          <b class="mname"> prashant sahu</b>
          <div class="si siimgdiv5">
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/fb.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/twitter.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/whatsapp.png' %}" /></div></a>
			      <a href=""><div class="siimgdiv"><img src="{% static 'icons/gmail.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/instagram.png' %}" /></div></a>
          </div>
		 <div class="aboutm"> The strongest tool of a student is study and to leanrn there are many sources available we created a replica of the knowledge to share information to our upcoming fellows so that they do not need to roam for concerns. </div>
        </div>
        <div class="member">
          <div class="memberimg m3"></div>
          <b class="mname"> ritik patle</b>
          <div class="si siimgdiv5">
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/fb.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/twitter.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/whatsapp.png' %}" /></div></a>
			      <a href=""><div class="siimgdiv"><img src="{% static 'icons/gmail.png' %}" /></div></a>
            <a href=""><div class="siimgdiv"><img src="{% static 'icons/instagram.png' %}" /></div></a>
          </div>
		  <div class="aboutm"> The strongest tool of a student is study and to leanrn there are many sources available we created a replica of the knowledge to share information to our upcoming fellows so that they do not need to roam for concerns. </div>
        </div>
      </div>
    </div>
  </body>
</html>
