{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1">
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div id="logo">
          <a href="" ><b><em>N</em><span>OTES</span></b></a>
        </div>
        <div id="option">
          <ul>
            <a href=""><li id="ha"><img class="hicon" src="{% static 'icons/home.png' %}"/><br><p>HOME</p></li></a>
            <a href="notes"><li><img class="hicon" src="{% static 'icons/notes.png' %}"/><br><p>NOTES</p></li></a>
            <a href="papers"><li><img class="hicon" src="{% static 'icons/sp.png' %}"/><br><p>PAPERS</p></li></a>
            <a href="about"><li><img class="hicon" src="{% static 'icons/about.png' %}"/><br><p>ABOUT US</p></li></a>
            <a href="contact"><li><img class="hicon" src="{% static 'icons/contact.png' %}"/><br><p>CONTACT US</p></li></a>
          </ul>
        </div>
      </div>
      <div id="container">
        <div>
          <h2><em>B-Tech Notes</em> </br>& </br><span>Sample Papers</span> </h2>
          
          <a  href="notes"> <button type="button" id="button1"><b> Let's Start Smart Learning </b></button> </a>
        </div>
      </div>
    </div>
  </body>
</html>
